div{border:px solid red;}
body{background-color:white ;}
#A{width:100%;height:75px;padding:0px;font-size:65px
	;line-height:0px;
	background:linear-gradient(to top,#222121,#151515);
		position:absolute;
	top:0px;left:0px;display:block;
	box-shadow:0px 3px 5px 2px black;
	}
#logo{
	color:white;
	font-family:"Copperplate Gothic Light","Comic Sans MS5";
font-weight:bold;position:relative;top:-25px;left:-10px;
}	
#B{position:relative;
   top:115px; left:100px;
   width:600px;
   height:700px;
   text-align:center;
   font-size:65px;
   padding-top:10px;
   font-style:italic;}
#C{position:absolute;
	top:183px;left:1000px;
	width:500px;height:;
	padding:5px;
	font-family:"Lucida Handwriting";
	font-size:30px;}
#D{position:absolute;
	top:533px;left:1000px;
	width:850px;height:350px;
	padding:5px;
	font-size:35px;
	font-family:"Papyrus";
	color: #336688;
	font-weight:bold;
}
#E{position:absolute;
	top:180px;left:720px;
	padding:15px;
	font-size:25px;
	font-family:'Papyrus';
	border:0px solid black;}

#X{height:18px;
position:relative;
   top:-2px;left:5px;
   background-color: ;
   border:1px inset;
   	font-size:25px;
	width:160px;padding:2px;
	text-align:;
	font-weight:10;
	font-family: "Arial Narrow";
	color:gray;
	border-radius:8px;
	box-shadow: Blue;}
#dbox{height:27px;
position:relative;
   top:0px;left:5px;
   background-color: ;
   border:1px solid blue;
   	font-size:20px;
	width:190px;padding:2px;}

a.title:link{text-decoration:none;
	color:white;}
	
a.title:visited{color:white;}

#search{
	
}

#ip{ border:2px solid #dddddd ;
	   width:240px;	
	   margin:20px;
	   height:30px;
	   border-radius:12px;
	   position:relative;
	   top:-9px;
	   transition:box-shadow .1s;
	   transition-timing-function:ease-in;
	   padding:7px;
	   font-size:30px;
	   font-family:"Helvetica";
	   }
	   
#tabs{
	height:81px;
	width:100px;
	float:left;
	padding:0px;
	   font-size:26px;
	   font-family:"Comic Sans MS", cursive, sans-serif;
	   text-align:center;
	   display: flex;
	justify-content: center;
	align-items: center;
	background-color:;}	   
	
#butts{
			 width:inherit;height:inherit;
			 line-height:79px;}
			 
			 
#navbar{
	position:absolute;top:0px;left:0px;
	background:linear-gradient(to top,#222121,#383636);
	height:70px;
	border-radius:px;
	color:white;
	width:100%;
	border:;
	box-shadow:0px 3px 5px 2px black;
	display:block;
}

#indiv{
	height:2px;
	background-color:white;
	position:absolute;
	top:0px;
	width:100%;
	float:;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	opacity:.4;
	
}

.nbar{
	list-style:none;
	
}

ul.nbar li{display:inline;}

#litem{
	
	padding-left:20px;
	padding-right:20px;
	padding-bottom:0px;
	padding-top:0px;
	line-height:0px;
	font-family:"Copperplate Gothic Light","Comic Sans MS5";
	font-size:30px;position:relative;top:-33px;left:0px;
	font-weight:;
	letter-spacing:2px;
	color:;
	
}

#profpic{
	width:200px;height:250px;
	border:0px solid black;
	background-color:lightskyblue;
	position:relative;
	margin: 0 47px;
	
	box-shadow:3px 3px 5px 3px #737373;
	}

ul.nbar li a:link{
	text-decoration:none;
	color:#dadad6 ;
}



ul.nbar li a:visited{
	text-decoration:none;
	color:#dadad6;
}

#sidebar{
	border:0px solid black;
	position:relative;
	top:133px;left:;
	height:580px;
	width:400px;
	display:block;
}

#sideinfo1{
	font-size:25px;
	line-height:35px;
	padding-left:44px;
	font-family: Book Antiqua,
	Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
	color:#393c49;	
	
}

#sideinfo2{
	font-size:25px;
	line-height:35px;
	padding-left:44px;
	font-family: Book Antiqua,
	Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
	color:#393c49;		
	
}

#newsfeed{
	position:relative;top:-460px;left:325px;
	height:580px;width:1080px;
	border:0px solid black;
	display:block;
	float:left;
	background-color:AliceBlue;
	box-shadow:0px 0px 15px 19px AliceBlue;
	
}

#stats{
padding:0px;margin:0px;font-size:25px;line-height:35px;

}

#memb{
	color:white;
	margin:50px 20px;margin-top:20px;margin-bottom:20px;
		font-family:"Copperplate Gothic Light","Comic Sans MS5";
    font-size:40px;padding:3px 5px;
	background:linear-gradient(to top,#232323,#474745);
	border-radius:5px;display:inline-block;clear:both;
}



